<div class="admin-dashboard">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="sidebar-header">
      <h2>Admin</h2>
    </div>
    <ul class="sidebar-menu">
      <li><a routerLink="dashboard">Dashboard</a></li>
      <li><a routerLink="product">Producto</a></li>
      <li><a routerLink="category">Categoria</a></li>
      <li><a href="#">Usuarios</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
