<div class="categories-container">
  <!-- Botón para crear nueva categoría -->
  <button class="btn-create" (click)="showPopup('create')">Crear Categoría</button>
<hr>
  <!-- Lista de categorías -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of tableData">
        <td>{{ category.id }}</td>
        <td>{{ category.nombre }}</td>
        <td>{{ category.descripcion }}</td>
        <td>
          <button class="btn-action btn-view" (click)="showPopup('view', category)">Ver</button>
          <button class="btn-action btn-edit" (click)="showPopup('edit', category)">Editar</button>
          <button class="btn-action btn-delete" (click)="showPopup('delete', category)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="popup-container">
    <app-popup
      [isVisible]="isPopupVisible"
      (close)="hidePopup()"
      class="popup-form"
    >
      <h2>{{ popupTitle }}</h2>

      <!-- Formulario de Crear/Editar -->
      <form
        *ngIf="actionType === 'create' || actionType === 'edit'"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input id="name" formControlName="name" type="text" class="input-field" placeholder="Escribe su nombre"/>
        </div>
        <div class="form-group">
          <label for="description">Descripción:</label>
          <input id="description" formControlName="description" type="text" class="input-field" placeholder="Escribe su descripción"/>
        </div>
        <div class="form-actions">
          <button
            type="submit"
            class="btn-submit"
            [disabled]="!form.valid || createState === 'loading'"
          >
            {{ actionType === "edit" ? "Actualizar" : "Crear" }}
          </button>
          <button type="button" class="btn-cancel" (click)="hidePopup()">Cancelar</button>
        </div>
      </form>

      <!-- Detalles de Categoría -->
      <div *ngIf="actionType === 'view'" class="view-details">
        <p><strong>Nombre:</strong> {{ selectedCategory?.nombre }}</p>
        <p><strong>Descripción:</strong> {{ selectedCategory?.descripcion }}</p>
        <button type="button" class="btn-cancel" (click)="hidePopup()">Cerrar</button>
      </div>

      <!-- Confirmación de Eliminación -->
      <div *ngIf="actionType === 'delete'" class="delete-confirm">
        <p>
          ¿Estás seguro de que deseas eliminar la categoría
          "{{ selectedCategory?.nombre }}"?
        </p>
        <button
          type="button"
          class="btn-delete-confirm"
          (click)="confirmDelete()"
          [disabled]="createState === 'loading'"
        >
          Eliminar
        </button>
        <button class="btn-cancel" (click)="hidePopup()">Cancelar</button>
      </div>
    </app-popup>
  </div>
</div>